* {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
  outline: none;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #2b1055 0%, #7597de 100%);
  color: #ffffff;
  overflow-x: hidden;
} /* just to be sure these are full screen*/



h1 {
  color: #fff;
  font-size: 72px;
}
p {
  color: #fff;
  font-size: 40px;
}

button {
  background-color: #61c97b;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4fb565;
}

input {
  padding: 5px;
}

.context {
  z-index: 1;
}

.flex-row {
  display: flex;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-in {
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.fade-out {
  animation: fade-out 0.5s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
